.measure p {
  font-size: '0.8rem';
  padding: 0;
  margin-right: 10px;
}
.video-container {
  margin-top: 50px;
  /* width: '100vw';
  display: 'flex';
  align-items: 'center';
  justify-content: 'center'; */
}
canvas {
  width: 800px;
  height: 320px;
  margin: 2rem auto;
}

.wave-box {
  width: 1024px;
  height: 320px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.line-path {
  fill: none;
  stroke: black;
  stroke-width: 1;
  stroke-linejoin: round;
}
.section {
  fill: steelblue;
  opacity: 0.5;
}
.section.active {
  fill: orangered;
  opacity: 0.5;
}
